[Unit]
Description=Power button handler
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/sbin/powerButton.sh

[Install]
WantedBy=multi-user.target
