[Unit]
Description=Power LED off state
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/powerLedOff.sh
TimeoutStartSec=0

[Install]
WantedBy=shutdown.target
