[Unit]
Description=Power button handler
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/sbin/powerButton.sh

[Install]
WantedBy=multi-user.target
